<!doctype html>

<html lang="en" ng-app>
<head>
    <title>Movie Explorer</title>

    <%= javascript_include_tag "angular" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/javascript/d3.js"></script>
    <script src="/javascript/controllers.js"></script>
    <script src="/javascript/query.js"></script>
    <script src="/javascript/links.js"></script>
    <script src="/javascript/progress.js"></script>


    <%= stylesheet_link_tag "bootstrap" %>
	<link href="/movie.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36712749-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body>
<div class="controller" ng-controller="MainCtrl">
    <form ng-submit="query()">
        <input type="text" class="tbox" ng-model="name" size="30"></br>
        <input type="checkbox" ng-model="actor">Actor    
        <input class="btn-primary" type="submit" value="Explore">
    </form>
    <div class="progress progress-striped active">
    	<div class="bar"></div>
    </div>
    <div class="alert alert-error">"Oops, try a different search."</div>
    <div class="media">
        <a class="pull-left" href="{{cur.url}}" target="_blank">
            <img class="media-object" src="{{cur.image}}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{cur.year}}</h4>
        </div>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="h in hist" ng-class="{active : $first}">
          <a href="#" ng-click="goHist(h.name, h.actor)">{{h.name}}</a>
        </li>
    </ul>
</div>

<div id="main"></div>
<script>

var width = $(document).width()
  ,height = $(document).height();

var svg = d3.select("#main").append("svg")
  .attr("width", width)
  .attr("height", height)

  .attr("pointer-events", "all")
  .append('svg:g')
  .call(d3.behavior.zoom().on("zoom", redraw))
  .append('svg:g');
  
  svg.append('svg:rect')
    .attr('width', width*8)
    .attr('height', height*8)
    .attr('x', -width*4)
    .attr('y', -height*4)
    .attr('fill', 'white')
    .style('stroke', 'pink');
  

//scale and zoom
function redraw() {
  svg.attr("transform",
    "translate(" + d3.event.translate + ")"
    + " scale(" + d3.event.scale + ")");
}

var force = d3.layout.force()
    .gravity(.05)
    .distance(100)
    .charge(-100)
    .size([width, height]);

d3.json("/movie_explor/first.json", function(json) {
  force
    .nodes(json.nodes)
    .links(json.links)
    .start();

  var link = svg.selectAll(".link")
    .data(json.links)
    .enter().append("line")
    .attr("class", "link");

  var node = svg.selectAll(".node")
    .data(json.nodes)
    .enter().append("g")
    .attr("class", "node")
    .call(force.drag);

  node.append("image")
    .attr("xlink:href", "https://github.com/favicon.ico")
    .attr("x", -8)
    .attr("y", -8)
    .attr("width", 16)
    .attr("height", 16);

  node.append("text")
    .attr("dx", 12)
    .attr("dy", ".35em")
    .text(function(d) { return d.name });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});

</script>
</body>

</html>

